---
Language:        Cpp
BasedOnStyle:    LLVM
Standard:        c++20
IndentWidth:     2
TabWidth:        2
UseTab:          Never
ColumnLimit:     225
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements
SortIncludes:    false
IndentCaseLabels: true
DerivePointerAlignment: false
NamespaceIndentation: Inner
FixNamespaceComments: true
ReflowComments:  false
...
